<ion-header>
  <ion-toolbar>
    <ion-title>Business</ion-title>
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    
      <ion-card-title>{{business.title}}</ion-card-title>
      <ion-card-subtitle>{{business.category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{business.description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    
      <ion-card-title>{{business.title}}</ion-card-title>
      <ion-card-subtitle>{{business.category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{business.description}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
    
      <ion-card-title>{{business.title}}</ion-card-title>
      <ion-card-subtitle>{{business.category}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{business.description}}
    </ion-card-content>
  </ion-card>

</ion-content>
